#pageContent {
    padding: 1rem;
}

.content_field {

    line-height: 1rem;
    font-size: .8rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#contentForm input,
#contentForm button {
    margin-right: 0.2rem;
}

.content-button {
    margin-right: 0.2rem;
}

.content-type-button {
    margin-right: 0.2rem;
}

#contentTypeContainer {
    margin-bottom: 1rem;
}

#deleteButton {
    margin-left: 0.5rem;
}

.statusBlock {
    margin-left: 1%;
    display: inline-block;
    width: 49%;
    margin-top: 0;
    vertical-align: top
}