#pageContainer {
    overflow-x: auto;
    padding: 10px;
    width: 100%;
    min-height: 100%;
}

#pageContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#backBtn {
    position: fixed;
    margin-left: 2rem;
}

.clickable {
    cursor: pointer;
}