input {
    height: 1.5em;
}

button {
    margin-left: 0;
    margin-right: 0;
}

#capture-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

#capture-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#capture-page-content * {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}

/* Card css */
.card {
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0;
    border: 1px solid lightgray;
}

.card:hover {
    box-shadow: 0 2px 4px 0 lightgray;
}

.column-card {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.capture-note_text {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.statusBlock {
    margin-left: 1%;
    display: inline-block;
    width: 49%;
    margin-top: 0;
    vertical-align: top
}

.brdr-blue {
    border-color: blue;
}

.brdr-red {
    border-color: red;
}


.date-future {
    color: lightblue;
}

.date-today {
    color: blue;
    text-decoration: underline;
}

.date-passed {
    color: orangered;
    text-decoration: underline;
}

/* Content Cards */
.content_card {
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0;
    border: 1px solid lightgray;
}

.content_card:hover {
    box-shadow: 0 2px 4px 0 lightgray;
}

.content_card textarea,
.content_card label,
.content_card input {
    display: block;
}

/* Condensed card */
.condensed_card {
    position: relative;
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 0;
    border: 1px solid lightgray;
}

.condensed_card:hover {
    box-shadow: 0 1px 2px 0 lightgray;
}

.condensed_card h3,
.condensed_card p {
    margin: 0;
}

.condensed_card p {
    margin-bottom: 0;
}

.condensed_card textarea,
.condensed_card label,
.condensed_card input {
    display: block;
}

/* Containers */
.inlineContainer {
    margin-right: 0.2rem;
    display: inline-block;
}

.inline-input {
    display: inline-block !important;
}

#contentContainer {
    display: inline-block;
}

#cardContentContainer {
    display: inline-block;
}

#contentButtonContainer {
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

#contentButtonContainer button {
    margin-right: 0.2rem;
}

#formButtonContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

#formButtonContainer button {
    margin-right: 0.2rem;
}


.cardContentContainer {
    display: grid;
    grid-template-columns: auto auto;
}

#dueDateDisplay {
    top: 0;
    float: right;
}

#hoursDisplay {
    top: 0;
    float: right;
}

#pageContent {
    padding: 1rem;
}

.content_field {

    line-height: 1rem;
    font-size: .8rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#contentForm input,
#contentForm button {
    margin-right: 0.2rem;
}

.content-button {
    margin-right: 0.2rem;
}

.content-type-button {
    margin-right: 0.2rem;
}

#contentTypeContainer {
    margin-bottom: 1rem;
}

#deleteButton {
    margin-left: 0.5rem;
}