.ganttTableContainer {
    overflow-x: auto;
}

.ganttTable {
    border-collapse: collapse;
}

.ganttTable th,
.ganttTable td {
    border: 1px solid;
    min-width: 3em;
    width: 3em;
    min-height: 3em;
    height: 3em;
}

.ganttBar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    background: #e62d2d;
    box-shadow:  7px 7px 10px #cf2929,
                -7px -7px 10px #fd3232;
}

.ganttCardName {
    text-align: center;
}

.ganttBlock {
    padding: 0.5rem;
    background-color: #db0000;
}

/* .ganttBlock {
    background-color: red;
    min-width: 3em;
    width: 3em;
    min-height: 3em;
    height: 3em;
    display: inline-block;
    border: 1px solid;
}

.ganttCardName {
    display: inline-block;
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
}

.ganttTable {
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0 15px;

}

.ganttTableContainer {
    overflow-x: scroll;
}
*/