
#contentCard {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
    border: 1px solid gray;
}

#contentCard:hover {
    box-shadow: 0 2px 4px 0 lightgray;
}

#contentContainer {
    display: inline-block;
}

#cardContentContainer {
    display: inline-block;
}

#contentCard textarea, #contentCard label, #contentCard input {
    display: block;
}

#contentButtonContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

#contentButtonContainer button {
    margin-right: 0.2rem;
}