
.content_card {
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0;
    border: 1px solid lightgray;
}

.content_card:hover {
    box-shadow: 0 2px 4px 0 lightgray;
}

.content_card textarea, .content_card label, .content_card input {
    display: block;
}

.condensed_card {
    position: relative;
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 0;
    border: 1px solid lightgray;
}

.condensed_card:hover {
    box-shadow: 0 1px 2px 0 lightgray;
}

.condensed_card h3 {
    margin: 0;
}

.condensed_card p {
    margin-bottom: 0;
}

.condensed_card textarea, .condensed_card label, .condensed_card input {
    display: block;
}

#contentContainer {
    display: inline-block;
}

#cardContentContainer {
    display: inline-block;
}

#contentButtonContainer {
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

#contentButtonContainer button {
    margin-right: 0.2rem;
}

.inlineContainer {
    margin-right: 0.2rem;
    display: inline-block;
}

#formButtonContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

#formButtonContainer button {
    margin-right: 0.2rem;
}