
#contentCard {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
    border: 1px solid gray;
}

#contentCard:hover {
    box-shadow: 0 2px 4px 0 lightgray;
}

#contentContawdainer {
    display: inline-block;
    overflow: hidden;
}

#contentButtonContainer {
    float: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}