
#priorityCard {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
    border: 1px solid gray;
}

#priorityCard:hover {
    box-shadow: 0 2px 4px 0 lightgray;
}

#priorityContainer {
    display: inline-block;
    overflow: hidden;
}

#priorityButtonContainer {
    float: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}