html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    font-family: 'Urbanist', sans-serif;

    padding-bottom: 5rem;

    color: black;
    font-size: 1rem;
}


input {
    font-family: 'Arial', sans-serif;
    font-family: 'Urbanist', sans-serif;
}

button {
    line-height: 1rem;
    font-size: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: white;
    border: none;
    border: 1.5px solid #555555;
    border-radius: 2px;
    display:inline-block;
    font-family: 'Arial', sans-serif;
    font-family: 'Urbanist', sans-serif;
}

a {
    color: black;
}

button:hover {
    background-color: lightblue;
}

.page-title {
    text-align: center;
    color: black;
}

.main-content {
    margin-left:35%;
    margin-right: 35%;
}

.div-card {
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 2px 4px 0 black;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.display-inline-block {
    display:inline-block;
}

.display-none {
    display: none;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-y-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.margin-x-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#loginForm {
    padding: 1rem;
}

.loginFormElement{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: block;
}

/* Priority Page */
#priority_field {
    margin-right: 0.2rem;
    line-height: 1rem;
    font-size: .8rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#priorityContainer {
    display: inline-block;
    overflow: hidden;
}

#priorityButtonContainer {
    float: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.priority-card {
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
    border: 1px solid lightgray;
}

.priority-card:hover {
    box-shadow: 0 2px 4px 0 grey;
}

/* Priority Card Buttons */
.priority-button {
    margin-right: 0.2rem;
}

/* Footer Content*/
#credit-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    
    padding: 0.5rem;
}
#github-logo {
    vertical-align: middle;
    display:inline;
    width: 4em;
}
#linkedin-logo {
    vertical-align: middle;
    display:inline;
    width: 5em;
}

/* Responsive page width media queries*/
@media (max-width: 1400px) {
    .main-content {
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media (max-width: 960px) {
    .main-content {
        margin-left:10%;
        margin-right: 10%;
    }
}

@media (max-width: 720px) {
    .main-content {
        margin-left:10%;
        margin-right: 10%;
    }
}

@media (max-width: 480px) {
    .main-content {
        margin-left:10%;
        margin-right: 10%;
    }
}